# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

# IDE / Editor
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.opendb
*.VC.db
.idea/
*.sln.iml

# Gradle/Android
.gradle/

# Crash / Test
/[Mm]emoryCaptures/
/[Rr]ecordings/
mono_crash.*
sysinfo.txt
InitTestScene*.unity*

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/Addressables_Temp*

# Visual Scripting generated
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
